
.icon-play:before { content: '\e800'; } /* '' */
.icon-ccw:before { content: '\e801'; } /* '' */
.icon-users:before { content: '\e802'; } /* '' */
.icon-graduation-cap:before { content: '\e803'; } /* '' */