body
{
	margin: 0 !important; 
	color: #ffffff;
}

.container-fluid
{
	background-image: url(img/back.jpg);
	background-repeat:no-repeat;
    background-size:auto;
    background-position:center;
}

.question
{
	opacity: 0.9;
	color: #ffffff;
	/* IE10+ */ 
background-image: -ms-radial-gradient(center, ellipse farthest-side, #035ABB 0%, #0350A6 46%, #0351A8 50%, #034DA1 53%, #023F82 76%, #022F61 87%, #1B1B1B 100%);

/* Mozilla Firefox */ 
background-image: -moz-radial-gradient(center, ellipse farthest-side, #035ABB 0%, #0350A6 46%, #0351A8 50%, #034DA1 53%, #023F82 76%, #022F61 87%, #1B1B1B 100%);

/* Opera */ 
background-image: -o-radial-gradient(center, ellipse farthest-side, #035ABB 0%, #0350A6 46%, #0351A8 50%, #034DA1 53%, #023F82 76%, #022F61 87%, #1B1B1B 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(radial, center center, 0, center center, 258, color-stop(0, #035ABB), color-stop(46, #0350A6), color-stop(50, #0351A8), color-stop(53, #034DA1), color-stop(76, #023F82), color-stop(87, #022F61), color-stop(100, #1B1B1B));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-radial-gradient(center, ellipse farthest-side, #035ABB 0%, #0350A6 46%, #0351A8 50%, #034DA1 53%, #023F82 76%, #022F61 87%, #1B1B1B 100%);

/* W3C Markup */ 
background-image: radial-gradient(ellipse farthest-side at center, #035ABB 0%, #0350A6 46%, #0351A8 50%, #034DA1 53%, #023F82 76%, #022F61 87%, #1B1B1B 100%);
	padding: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: auto;
	margin-left: auto;
	-webkit-clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
  	clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
}

.answer
{
	opacity: 0.9;
	color: #ffffff;
	/* IE10+ */ 
background-image: -ms-linear-gradient(top, #0B1417 0%, #0353AD 46%, #035ABB 50%, #035ABB 53%, #035ABB 76%, #012247 87%, #1b1b1b 100%);

/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(top, #0B1417 0%, #0353AD 46%, #035ABB 50%, #035ABB 53%, #035ABB 76%, #012247 87%, #1b1b1b 100%);

/* Opera */ 
background-image: -o-linear-gradient(top, #0B1417 0%, #0353AD 46%, #035ABB 50%, #035ABB 53%, #035ABB 76%, #012247 87%, #1b1b1b 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #0B1417), color-stop(46, #0353AD), color-stop(50, #035ABB), color-stop(53, #035ABB), color-stop(76, #035ABB), color-stop(87, #012247), color-stop(100, #1b1b1b));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(top, #0B1417 0%, #0353AD 46%, #035ABB 50%, #035ABB 53%, #035ABB 76%, #012247 87%, #1b1b1b 100%);

/* W3C Markup */ 
background-image: linear-gradient(to bottom, #0B1417 0%, #0353AD 46%, #035ABB 50%, #035ABB 53%, #035ABB 76%, #012247 87%, #1b1b1b 100%);
	background-color: #035abb;
	padding: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	-webkit-clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
	clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
}

.answer:hover
{
	/* IE10+ */ 
background-image: -ms-radial-gradient(center, ellipse farthest-side, #EB7409 0%, #C76207 46%, #BD5D07 50%, #B35807 53%, #9C4D05 76%, #854205 87%, #5E2E04 100%);

/* Mozilla Firefox */ 
background-image: -moz-radial-gradient(center, ellipse farthest-side, #EB7409 0%, #C76207 46%, #BD5D07 50%, #B35807 53%, #9C4D05 76%, #854205 87%, #5E2E04 100%);

/* Opera */ 
background-image: -o-radial-gradient(center, ellipse farthest-side, #EB7409 0%, #C76207 46%, #BD5D07 50%, #B35807 53%, #9C4D05 76%, #854205 87%, #5E2E04 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(radial, center center, 0, center center, 258, color-stop(0, #EB7409), color-stop(46, #C76207), color-stop(50, #BD5D07), color-stop(53, #B35807), color-stop(76, #9C4D05), color-stop(87, #854205), color-stop(100, #5E2E04));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-radial-gradient(center, ellipse farthest-side, #EB7409 0%, #C76207 46%, #BD5D07 50%, #B35807 53%, #9C4D05 76%, #854205 87%, #5E2E04 100%);

/* W3C Markup */ 
background-image: radial-gradient(ellipse farthest-side at center, #EB7409 0%, #C76207 46%, #BD5D07 50%, #B35807 53%, #9C4D05 76%, #854205 87%, #5E2E04 100%);
	padding: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	-webkit-clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
	clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);

}

.bouy
{
	background-color: #035abb;
	padding: 10px;
	margin-top: 10px;
	margin-bottom: 35px;
}

.amount
{
	background-color: #035abb;
	padding: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
}

#resign
{
	background-color: #330000;
	margin-bottom: 25px;
}

.rightSideHigh
{
	margin-top: 50px;
} 

@media all and (min-width: 768px) 
{
  
  .leftSideHigh
	{
		margin-top: 650px;
	}

	.rightSideHigh
	{
		margin-top: 0px;
		background-color: #000000;
	}
}

.header
{
	background-color: #554344;
}

.footer
{
	background-color: #333333;
	min-height: 100px;
	color: #FFFFFF;
}



